[user]
	email = karaszandris@gmail.com
	name = András Kárász
[core]
	autocrlf = input
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
