[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[user]
	email = karaszandris@gmail.com
	name = Andras Karasz
[alias]
	ca = commit -a -m
	c = commit -m
